<header class="main-header">
  <div class="container main-header-content">
    
    <!-- Logo -->
    <div class="logo">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/logo-a.svg' | relative_url }}" alt="Logo" class="site-logo logo-light-desktop">
        <img src="{{ '/assets/images/logo-b.svg' | relative_url }}" alt="Logo" class="site-logo logo-dark-desktop">
      </a>
    </div>

    <!-- Navegación y Acciones -->
    <div class="nav-wrapper">
      
      <nav class="main-nav cl-effect-2" id="mainNav">
        <ul class="nav__list">
          <li>
            <a class="nav__link" href="{{ '/' | relative_url }}">
              <span data-hover="Portal">Portal</span>
            </a>
          </li>
          <li>
            <a class="nav__link" href="{{ '/pages/blog' | relative_url }}">
              <span data-hover="Blog">Blog</span>
            </a>
          </li>
          <li>
            <a class="nav__link" href="{{ '/proyectos' | relative_url }}">
              <span data-hover="Proyectos">Proyectos</span>
            </a>
          </li>
          <li>
            <a class="nav__link" href="{{ '/servicios' | relative_url }}">
              <span data-hover="Servicios">Servicios</span>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Botón Modo Oscuro -->
      <button id="themeToggle" class="theme-toggle-btn" aria-label="Cambiar Tema">
        <i class="fas fa-moon"></i>
      </button>

      <!-- Hamburguesa Móvil -->
      <a href="#" class="nav__trigger" id="menuToggle" aria-label="Abrir Menú">
        <span class="nav__icon"></span>
      </a>

    </div>

  </div>
</header>
