<header class="main-header">
  <div class="container main-header-content">
    
    <!-- Logo -->
    <div class="logo">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/logo-a.svg' | relative_url }}" alt="Logo" class="site-logo logo-light-desktop">
        <img src="{{ '/assets/images/logo-b.svg' | relative_url }}" alt="Logo" class="site-logo logo-dark-desktop">
      </a>
    </div>

    <!-- Navegación y Acciones -->
    <div class="nav-wrapper">
      
      <nav class="main-nav cl-effect-2" id="mainNav">
        <ul class="nav__list">
          <li>
            <a class="nav__link" href="{{ '/' | relative_url }}">
              
              <span data-hover="Portal"><i class="fa-solid fa-house-chimney"></i> Portal</span>
            </a>
          </li>

          <li>
            <a class="nav__link" href="{{ '/pages/blog' | relative_url }}">
              
              <span data-hover="Blog"><i class="fa-solid fa-book"></i> Blog</span>
            </a>
          </li>

          <!-- Ítem Proyectos con Submenú -->
          <li class="has-submenu">
            <a class="nav__link">
              
              <span data-hover="Proyectos"><i class="fa-solid fa-lightbulb"></i> Proyectos</span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="{{ '/proyectos/app-inventario' | relative_url }}">
                  <span data-hover="App de Inventario">App de Inventario</span>
                </a>
              </li>
              <li>
                <a href="{{ '/proyectos/videojuego-2d' | relative_url }}">
                  <span data-hover="Videojuego 2D">Videojuego 2D</span>
                </a>
              </li>
            </ul>
          </li>

          <!-- Ítem Servicios con Submenú -->
          <li class="has-submenu">
            <a class="nav__link">
              
              <span data-hover="Servicios"><i class="fa-solid fa-tag"></i> Servicios</span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="{{ '/servicios/desarrollo-web' | relative_url }}">
                  <span data-hover="Desarrollo Web">Desarrollo Web</span>
                </a>
              </li>
              <li>
                <a href="{{ '/servicios/programacion-movil' | relative_url }}">
                  <span data-hover="Programación Móvil">Programación Móvil</span>
                </a>
              </li>
              <li>
                <a href="{{ '/servicios/diseno-digital' | relative_url }}">
                  <span data-hover="Diseño Digital">Diseño Digital</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <!-- Botón Modo Oscuro -->
      <button id="themeToggle" class="theme-toggle-btn" aria-label="Cambiar Tema">
        <i class="fas fa-moon"></i>
      </button>

      <!-- Hamburguesa Móvil -->
      <a href="#" class="nav__trigger" id="menuToggle" aria-label="Abrir Menú">
        <span class="nav__icon"></span>
      </a>

    </div>

  </div>
</header>
