<!-- Precargador Web -->
<div id="preloader" class="preloader">
  <div class="preloader-content">
    
    <!-- Logos para Tema Claro y Oscuro -->
    <img src="{{ '/assets/images/logo-a.svg' | relative_url }}" alt="Néstor Gómez" class="preloader-logo logo-light">
    <img src="{{ '/assets/images/logo-b.svg' | relative_url }}" alt="Néstor Gómez" class="preloader-logo logo-dark">
    
    <!-- Barra de Carga -->
    <div class="preloader-bar-container">
      <div class="preloader-bar"></div>
    </div>

  </div>
</div>
