---
layout: blog-layout
title: Blog & Tutoriales
permalink: /pages/blog.html
---

<div class="programs-grid">
  {% for post in site.posts %}
    <article class="program-card">
      <div class="program-card__image-wrapper">
        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="program-card__img">
        <div class="program-card__icon-badge">
          <i class="fa-solid fa-newspaper"></i>
        </div>
      </div>
      <div class="program-card__body">
        <h3 class="program-card__title">{{ post.title }}</h3>
        <p class="program-card__desc">
          {% if post.excerpt_custom %}
            {{ post.excerpt_custom }}
          {% else %}
            {{ post.excerpt | strip_html | truncate: 100 }}
          {% endif %}
        </p>
        <a href="{{ post.url | relative_url }}" class="program-card__link">
          Leer más <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </article>
  {% endfor %}
</div>
